body {
  user-select: none;
}

.header-main {
  min-width: 640px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
.social{
  text-align: center;
}
.header-main h1 {
  margin: 0;
  text-align: center;
}

.header-main p {
  margin: 0;
}

.header-main .welcome {
  max-width: 300px;
}
.show-time{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.actions-list {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.mousectnr{
  text-align: center;
}
#draw-mouse{
  width: calc(100vw/4);
  height: calc(100vh/4);
  border: solid black 1px;
}
iframe{
  width: calc(100vw/2);
  height: calc(100vh/2);
  border: solid black 1px;
}
.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}
.projects ul li a{
  padding: 15px;
}
iframe{
  border: 0;
}
.inside-side-menu {}

.resize {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 100%;
  cursor: ew-resize;
}

.inside-side-menu .uk-card-header {
  color: #fff;
  border-bottom: solid .5px white;
}

.uk-card-body {
  padding: 0 30px;
}
/* .monitoring */
.mouse{
  min-height: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
h5{
  margin-top: 0;
}
.mouse div{
  min-width: 100px;
}
.mousemove::before{
  width: 100%;
  content: "mouse move"
}
.mousedown::before {
  width: 100%;
  content: "mouse down";
}
.mousehover::before {
  width: 100%;
  content: "mouse hover";
}